@model IList<Post>

<div class="mb-4">
	<h3 class="text-success mb-2">
		Bài viết phổ biến nhất
	</h3>
    <div class="list-group">
		@foreach (var item in Model)
		{
			var imageUrl = string.IsNullOrWhiteSpace(item.ImageUrl)
			? "/images/image_1.jpg"
			: $"/{item.ImageUrl}";
			<div class="mb-1"> 
				
					<a class="float-start text-decoration-none"
						asp-controller="blog"
					   asp-action="post"
					   asp-route-year="@item.PostedDate.Year"
					   asp-route-month="@item.PostedDate.Month"
					   asp-route-day="@item.PostedDate.Day"
					   asp-route-slug="@item.UrlSlug">
					<div class="d-flex align-items-center ">
						<img class="media-object rounded" 
							alt="64x64" 
							style="width: 64px; height: 64px;" 
							src="@imageUrl" 
							data-holder-rendered="true">
						<h6 class="text-decoration-none w-auto m-4 ">
							@*@item.Author.FullName*@
						</h6>
					</div>
					
					<h6 class="position-relative w-auto">
						@item.Title
					</h6>
					<div class="d-block">
						@item.ShortDescription
					</div>
				</a>
				
			</div>
			<hr/>
			

		}
       </div>
</div>