@model CommentFilterModel
@{
	ViewData["PageTitle"] = "Danh sách các bình luận";

	var commentList = ViewBag.CommentList as IPagedList<CommentItem>;
}

<h1>
	Danh sách các bình luận
</h1>
<partial name="_CommentFilterPane" model="Model" />
@if (commentList != null && commentList.Count > 0)
{
	<table class="table table-responsive table-striped">
		<thead>
			<tr>
				<th>Họ Tên</th>
				<th>Nội dung</th>
				<th>Hiển thị</th>
				<th>thời gian</th>
				<th>Bài viết</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var comment in commentList)
			{
				<tr>
					<td class="text-body">
							@comment.Name
					</td>
					<td>
						@comment.Description
					</td>
					<td>
						<Form asp-area="Admin"
					  asp-controller="Comments"
					  asp-action="setPublished"
					  asp-route-id="@comment.Id"
					  asp-route-model=@Model
			   enctype="multipart/form-data"
			   method="post">
							<div class="form-check">
								<input class="form-check-input"
							   type="checkbox"
							   asp-for="@comment.Published"
				  onchange="this.form.submit()" />
							</div>
						</Form>
					</td>

					<td>

						<label>@comment.DateComment.ToShortDateString()</label>
					</td>
					
					<td>

						<label>@comment.PostName</label>
					</td>

					<td>
						<a asp-area="Admin"
				   asp-controller="Comment">
							@Html.ActionLink("Delete", "DeleteComment", new { id = comment.Id },
					new {onclick = "return confirm('Are sure wants to delete?');"})
							<i class="fa fa-trash-o"></i>
						</a>
					</td>

				</tr>
			}
		</tbody>
	</table>
	<partial name="_Page" model="commentList" />
}
else
{
	<h1 class="text-danger">
		Không tìm thấy comment 
	</h1>
}
